
@{
    ViewBag.Title = "LearnService";
}

<h2>LearnService</h2>
<table border="1">
    <thead>
        <tr>
            <th>Ֆակուլտետ</th>
            <th>Ամբիոն</th>
            <th>Մասնագիտության անվանումը</th>
            <th>Վարձը</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Մանկավարժության և սպորտի</td>
            <td>Մանկավարժություն և հոգեբանություն</td>
            <td>tarrakan mankavarjutyun</td>
            <td>250</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Hogebanutyun</td>
            <td>250</td>
        </tr>
        <tr>
            <td></td>
            <td>Ֆիզիկական դաստիարակության </td>
            <td>fizikakan dastirakchutyan</td>
            <td>250</td>
        </tr>
        <tr>
            <td>Պատմության և իրավագիտության </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    
</table>

